.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #1f2937;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
    color: #ffffff;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
}

.nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: center;
}

.main-content {
    flex: 1;
    width: 100%;
    display: flex;
}
    

h1 {
    font-size: 28px;
    font-weight: 600;
    padding: 12px;
    color: white;
}

.header-link {
    background-color: #1f2937;
    border: none;
    font-size: 15px;
    color: #ffffff;
}

.header-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.courses-dropdown {
    position: relative;
    padding: 7px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.courses-dropdown:hover {
    background-color: #a8a8a8;
}

.courses-menu {
    position: absolute;
    top: 35px;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: 100;
}

.courses-menu button{
    display: block;
    text-align: left;
    padding: 10px;
    min-width: 180px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 0px;
}

.courses-menu button:hover {
    background: #a8a8a8;
    cursor: pointer;
}

.courses-menu button.template {
    color: grey;
}

.courses-menu button.template:hover {
    color: black;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: white;
    padding: 24px;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.no-login-text {
    margin-top: 45vh;
}