.achievements-button {
    background-color: #ffffff;
    height: 35px;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.achievements-button:hover {
    background-color: #a8a8a8;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #1f2937;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Inter', sans-serif;
}